@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    /* scroll: hidden; */
    height: 100%;
    /* background-color: rgb(15,15,15); */
  }

  .splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    background-image: url(../images/splash-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #planet-box {
    background-image: url(../images/earth-clouds.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    padding: 25vh;
    /* margin: 20vh; */
    /* background-color: grey; */
  }

  *{
    font-family: 'Space Mono', monospace;
  }


  .splash-screen h1 {
    font-weight: bold;
    font-size: 60px;
    color:#FFF4F4;
  }

  .splash-screen h2 {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color:#FFF4F4;
    
  }

  main button {
    font-family: 'Space Mono', monospace;
    background:linear-gradient(to bottom, #1e1e1e 5%, #202020 100%);
    background-color:#404040;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#FFF4F4;
    /* font-family:Verdana; */
    font-size:22px;
    /* font-weight: 700; */
    padding:11px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
  }
  main button:hover {
    background:linear-gradient(to bottom, #000000 5%, #404040 100%);
    background-color:#000000;
  }
  
  
  .canvas-container {
    height: 100%;
    width: 650px;
    margin: 0 auto;
    background-image: url(../images/game_background3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #1e1e1e;
  }

  .game .lives {
    color:#FFF4F4;
    border-right: 5px solid #FFF4F4;
    padding: 15px;
    text-align: right;
    flex-basis: 20%;
    margin-right: 20px;
  }
  .game .score {
    color:#FFF4F4;
    border-left: 5px solid #FFF4F4;
    padding: 15px;
    text-align: left;
    flex-basis: 20%;
    margin-left: 20px;
  }

  .game span {
    /* border: 2px solid black; */
  }

  .game-over {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-image: url(../images/splash-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .game-over .button-container {
    background-image: url(../images/earth-scorched.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    padding: 63vh 10vw 18vh;
    
  }

  .game-over {
    text-align: center;
    line-height: 1.5em;
  }

  .game-over h1 {
    font-weight: bold;
    font-size: 60px;
    color:#8b0000;
    margin-bottom: 10vh;
  }

  .game-over p {
    color:#FFF4F4;
    width: 40vw;
    margin-bottom: 10vh;
  
  }

  .game-over span {
    font-weight: bold;
    font-size: 1.5em;
  }



 